@import 'tailwindcss';
@import '@fontsource-variable/geist';

@custom-variant dark (&:is(.dark *));

@plugin "tailwind-scrollbar" {
  nocompatible: true;
}

@theme {
  --font-sans: 'Geist Variable', ui-sans-serif, system-ui, sans-serif;
}

html,
body {
  @apply bg-[#1A1A1A] text-gray-100;
  color-scheme: dark;
}
